In [1]:
import pandas as pd

In [ ]:
#### 1.Mot Vedette :

In [2]:
#importer le fichier Buchanan
dfDicoBuch = pd.read_csv("./../data/dictionary/1757_Buchanan-J.csv", delimiter=";", encoding="utf8")
dfDicoBuch.sample(n=5)

       nbSyll        pron origin warning remarques POS  lineId  pageId
3538        2    deſtroʹy     L.     NaN       NaN  v.    62.0      68
1195        2     beloʹng    NaN     NaN       NaN  v.    12.0      36
5369        3   frūʹmĕnty     L.     NaN       NaN  n.    28.0      94
10864       2     pŭʹffen    NaN     NaN       NaN  n.    47.0     172
5627        4  gĕſtāʹtion     L.     NaN       NaN  n.     2.0      98

In [3]:
#importer le fichier PronChar
PronChar = pd.read_csv("./../data/dictionary/Buchanan_PronChar_counts.csv", delimiter=";", encoding="utf8")
PronChar.sample(n=5)

   char   occ graph
15    o  3838     o
64    ô     4     o
3     ă  4533     a
19    h  2383     h
62    ë     2     e

In [4]:
PronChar.fillna('', inplace=True)

In [5]:
PronChar.sample(n=5)

   char   occ graph
70    х     2     x
66    ó     1     o
12    e  8952     e
54    )    28
22    r  9245     r

In [9]:
def char2graph(strChar, dfMapping):
    res = ""
    
    for valChar in strChar:
        #print(valSampa)
        dfRowFinded = dfMapping[dfMapping['char']==valChar]

        if len(dfRowFinded==1):
            res+=dfRowFinded.iloc[0]['graph']
        else:
            res+='?'
    return res

In [10]:
dfDicoBuch['motVedette'] = dfDicoBuch.apply(lambda x: char2graph(x['pron'], PronChar),1)

In [26]:
#dfDicoBuch['motVedette']
dfDicoBuch.sample(n=10)

,nbSyll,pron,origin,warning,remarques,POS,lineId,pageId,motVedette
8534,3,mĭʹdſhĭpmen,NaN,NaN,NaN,n.,11.0,140,midshipmen
5943,4,g_u_ăʹrdĭănſhip,NaN,NaN,NaN,n.,30.0,102,guardianship
6862,4,indĕʹcĕncy,L.,NaN,NaN,n.,56.0,116,indecency
7456,2,jŭʹggler,NaN,NaN,NaN,a.,2.0,125,juggler
694,2,ăʹrctic,G.,NaN,NaN,n.,12.0,29,arctic
10228,2,plaiʹſt_e_r,NaN,NaN,NaN,n.,59.0,163,plaister
10540,3,prĕʹlăcy,NaN,NaN,NaN,n.,11.0,168,prelacy
4353,2,ĕmbrāʹce,NaN,NaN,NaN,v.,16.0,80,embrace
5153,1,foot (fŭt),NaN,NaN,Aide à la {pron}.,n.,27.0,91,foot fut
3531,3,dĕſpŏʹtic,NaN,NaN,NaN,a.,55.0,68,despotic

In [ ]:
#### 2.Sampa et ipa :

In [12]:
#importer le fichier BigiRichSample
BigiRichSample=pd.read_csv("./../data/dataframe/BigiRichSample.csv", delimiter=";", encoding="utf8")
BigiRichSample.sample(n=5)

         hwd      pronSampa      ipa
674    grana     g r\ { n @    gɹænə
756   musica  m j u z i k @  mjuzikə
258     oahu       @U A h u    oʊɑhu
53    imasco     i m { s @U   imæsoʊ
899  schuler      S u l 3:r   ʃulɜ:r

In [13]:
#jointure des deux tables
dataj= pd.merge(dfDicoBuch, BigiRichSample, left_on='motVedette', right_on='hwd',how='left')
dataj

,nbSyll,pron,origin,warning,remarques,POS,lineId,pageId,motVedette,hwd,pronSampa,ipa
0,3,aʹbăcus,NaN,NaN,NaN,n.,2.0,19,abacus,NaN,NaN,NaN
1,2,ăbăʹft,NaN,NaN,NaN,p.,3.0,19,abaft,NaN,NaN,NaN
2,3,ăbaiʹſănce,F.,NaN,NaN,n.,4.0,19,abaisance,NaN,NaN,NaN
3,3,ābăʹndon,F.,NaN,NaN,v.,5.0,19,abandon,NaN,NaN,NaN
4,4,ābăʹndŏned,NaN,NaN,NaN,a.,6.0,19,abandoned,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
15795,4,zōŏʹgrăphy,G.,NaN,NaN,n.,19.0,241,zoography,NaN,NaN,NaN
15796,4,zōŏʹphytès,G.,NaN,NaN,n.,20.0,241,zoophytes,NaN,NaN,NaN
15797,4,zōŏʹphŏric,G.,NaN,NaN,n.,21.0,241,zoophoric,NaN,NaN,NaN
15798,4,zōŏʹtŏmiſt,G.,NaN,NaN,n.,22.0,241,zootomist,NaN,NaN,NaN
15799,3,zŏʹtĭcā,G.,NaN,NaN,n.,23.0,241,zotica,NaN,NaN,NaN

In [ ]:
#### 2.1.Résolution du probléme :

In [14]:
#puisqu'on a que 1000 mots dans le ficher BigiRichSample, on va utiliser le dictionnaire à sa place pour remplir "Sampa" et "ipa"
dfDicoBigi = pd.read_csv("./../data/dictionary/2015_Bigi-B.dict", delimiter=" \[\] ", encoding="utf8", engine='python', names=['hwd','pronSampa'], skiprows=8 )
dfDicoBigi.sample(5)

                hwd         pronSampa
13375         bowse            b @U s
128259      winfree     w I n f r\ i:
68998      litanies    l I t @ n i: z
32304   doctrine(2)  d O: k t 3:r i n
73029      maryland  m E r\ @ l @ n d

In [15]:
#jointure
tableF=pd.merge(dfDicoBuch, dfDicoBigi,left_on='motVedette', right_on='hwd',how='left')
tableF.sample(5)

,nbSyll,pron,origin,warning,remarques,POS,lineId,pageId,motVedette,hwd,pronSampa
762,3,arŭʹſpĭce,L.,NaN,NaN,n.,8.0,30,aruspice,NaN,NaN
4081,2,drĕʹdgers,NaN,NaN,NaN,n.,29.0,76,dredgers,NaN,NaN
11080,1,rāge,F.,NaN,NaN,n.,24.0,175,rage,rage,r\ eI dZ
4168,1,dwarf,L.,NaN,NaN,n.,44.0,77,dwarf,dwarf,d w O: r\ f
8647,2,mĭʹſſal,L.,NaN,NaN,n.,52.0,141,missal,missal,m I s @ l

In [17]:
dfSampaIpa = pd.read_csv("./../data/dictionary/sampa-ipa.txt", delimiter="  *", encoding="utf8", engine='python', names=['sampa','ipa'])
dfSampaIpa.drop_duplicates(subset=['sampa'], keep='first', inplace=True)
dfSampaIpa.sample(n=5)

    sampa ipa
56      M   ɯ
97   _R_F   ᷈
60      O   ɔ
169     w   w
129    e:  eː

In [18]:
tableF.fillna('', inplace=True)

In [19]:
def sampa2ipa(strSampa, dfMapping):
    ipaRes = ""
    
    listValSampa = strSampa.split(" ")
    #print(listValSampa)
    for valSampa in listValSampa:
        #print(valSampa)
        dfRowFinded = dfMapping[dfMapping['sampa']==valSampa]

        if len(dfRowFinded==1):
            ipaRes+=dfRowFinded.iloc[0]['ipa']
        else:
            ipaRes+='?'
    return ipaRes

In [20]:
tableF['ipa'] = tableF.apply(lambda x: sampa2ipa(x['pronSampa'], dfSampaIpa),1)

In [25]:
tableF.sample(10)

,nbSyll,pron,origin,warning,remarques,POS,lineId,pageId,motVedette,hwd,pronSampa,ipa
3750,2,dĭſeaʹſe,F.,,,n.,59.0,71,disease,disease,d i z i: z,diziːz
690,3,ăʹrc_h_ĭtect,G.,,,n.,8.0,29,architect,architect,A r\ k @ t E k t,ɑɹkətɛkt
12694,4,ſobrīʹety,L.,,,n.,17.0,198,sobriety,sobriety,s @ b r\ aI @ 4 i:,səbɹ?əɾiː
12527,1,sĭx,,,.,n.,66.0,195,six,six,s I k s,sɪks
12487,1,sĭn,,,,v.,26.0,195,sin,sin,s I n,sɪn
3303,3,dēʹcĕncy,L.,,,n.,40.0,65,decency,decency,d i: s @ n s i:,diːsənsiː
15694,2,woʹven,,,,a.,4.0,240,woven,woven,w @U v @ n,woʊvən
5820,3,grăʹnăry,,,,n.,51.0,100,granary,,,?
3174,3,cŭʹſhion,F.,,,n.,51.0,63,cushion,cushion,k U S @ n,kʊʃən
13216,1,ſty,,,,n.,33.0,205,sty,sty,s t aI,st?

In [ ]:
#### 3.Sauvegarde de la table obtenue :

In [24]:
#sauvegarde 
tableF.to_csv("./../data/dataframe/BuchananRich.csv",sep=";",encoding="utf8",index=False)